@model IEnumerable<Strong_Fit.Models.Personal>

@{
    ViewData["Title"] = "IndexPersonal";
}

<h1>IndexPersonal</h1>

<p>
    <a asp-action="CreatePersonal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                <a asp-action="EditPersonal" asp-route-id="@item.PersonalId">Edit</a> |
                <a asp-action="DetailsPersonal" asp-route-id="@item.PersonalId">Details</a> |
                <a asp-action="DeletePersonal" asp-route-id="@item.PersonalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
